<form method="Post">
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" value="{{email}}" class="form-control" id="exampleFormControlInput1"
               placeholder="name@example.com">
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1" name="role_id">
            {{#each role_list}}
                <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>