<form method="post" action="/forgot-password" name="login" onsubmit="return validate()">
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Send to email</button>
</form>