<form method="post" action="/login" name="login" onsubmit="return validate()">
    <span style="color: #ff0000">{{error}}</span>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a class="btn btn-primary" href="/forgot-password" role="button">Forgot password</a>
</form>

<script>
    function validate() {
        const email = document.login.email.value;
        const password = document.login.password.value;

        if (email == "" || password == "") {
            alert("Email or password not empty!!!");
            return false;
        }
    }

</script>