<div class="mt-4">
    <form method="GET">
        <div class="form-group">
            <label for="key-words">Typing keywords</label>
            <input type="text" name="q" class="form-control" id="key-words" placeholder="Typing key words">
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>